/bin/

/target/**
*.jar
*.class
/target/
target
target/generated-sources
target/maven-archiver
target/maven-status
target/msufront-plugin-1.1
target/msufront-plugin-1.1.jar
/.sonar/
/Sonar_MSU-FrontEnd_Plugin.udb
/sonar-project.properties
/.settings/
/.classpath/
/.project/
*.iml